<h1>Edit Actor - <%= @actor.name %></h1>

<form action="/update_actors/<%= @actor.id %>">
  <div>
    <label for="actor_name">
      Name
    </label>
    <input id="actor_name" type="text" name="actor_name" value="<%= @actor.name %>">
  </div>

  <div>
    <label for="actor_bio">
      Bio
    </label>
    <textarea id="actor_bio" name="actor_bio"><%= @actor.bio %></textarea>
  </div>

  <div>
    <label for="actor_dob">
      Dob
    </label>
    <input id="actor_dob" type="text" name="actor_dob"  value="<%= @actor.dob %>">
  </div>

  <div>
    <label for="actor_image">
      Image url
    </label>
    <input id="actor_image" type="text" name="actor_image"  value="<%= @actor.image_url %>">
  </div>

  <button>
    Update actor
  </button>
</form>